In [16]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')
import pandas as pd
from src.gpt_prompt import get_sentiment_general, get_sentiment_general_parallel, get_risk_score

In [17]:
f = open("../data/spy/SPY_news_2022.txt", "r")
ret = f.readlines()
len(ret)
ret2 = []
date = []
for i in ret:
    if i[:5] == "2022-":
        date.append(i[:19])
        ret2.append(i[20:])
df = pd.DataFrame({'date': date,'news': ret2})
df.to_csv("../data/spy/news_spy_2022.csv")

In [18]:
f = open("../data/spy/SPY_price_2022.txt", "r")
price = f.readlines()
len(price)
price2 = []
date = []
for i in price:
    if i[:5] == "2022-":
        cur_price = i[40:]
        if cur_price[-1] == "\n":
            cur_price = cur_price[:-1]
        date.append(i[:19])
        price2.append(cur_price)
df = pd.DataFrame({'date': date,'price': price2})
df.to_csv("../data/spy/price_spy_2022.csv")

In [19]:
df_news = pd.read_csv("../data/spy/news_spy_2022.csv", index_col=0)
df_news

                      date                                               news
0      2022-01-01 00:00:00  Launching analysis for ba24f3e27a2bc4216ca34a2...
1      2022-01-01 00:00:00  Usage of QCAlgorithm.OnEndOfDay() without a sy...
2      2022-01-01 00:00:00                    Algorithm starting warm up...\n
3      2022-01-01 00:00:00  Usage of QCAlgorithm.OnEndOfDay() without a sy...
4      2022-01-01 00:17:30                   Algorithm finished warming up.\n
...                    ...                                                ...
10303  2022-12-31 14:21:28  The Single Most Important Chart For 2023There ...
10304  2022-12-31 14:58:30   Macro Week in Review/Preview December 31, 2022\n
10305  2022-12-31 15:00:22  Can You Handle Another Year Of Extreme Volatil...
10306  2022-12-31 17:00:27  Brazil, Asia Take Top Honors As Best Performin...
10307  2022-12-31 22:25:22  CoT: Peek Into Future Thru Futures, Hedge Fund...

[10308 rows x 2 columns]

In [20]:
df_price = pd.read_csv("../data/spy/price_spy_2022.csv", index_col=0)
df_price

                      date       price
0      2022-01-03 09:31:00  463.705261
1      2022-01-03 09:32:00  463.933970
2      2022-01-03 09:33:00  463.783120
3      2022-01-03 09:34:00  464.225939
4      2022-01-03 09:35:00  464.298932
...                    ...         ...
97691  2022-12-30 15:56:00  377.894996
97692  2022-12-30 15:57:00  378.013678
97693  2022-12-30 15:58:00  377.993898
97694  2022-12-30 15:59:00  378.053239
97695  2022-12-30 16:00:00  378.231263

[97696 rows x 2 columns]