In [10]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')
import pandas as pd
from src.gpt_prompt import get_sentiment_general, get_sentiment_general_parallel, get_risk_score

In [11]:
f = open("../data/apple_2023/news_apple_2023.txt", "r")
ret = f.readlines()
len(ret)
ret2 = []
date = []
for i in ret:
    if i[:5] == "2023-":
        date.append(i[:19])
        ret2.append(i[20:])
df = pd.DataFrame({'date': date,'news': ret2})
df.to_csv("../data/apple_2023/news_apple_2023.csv")

In [13]:
f = open("../data/apple_2023/price_apple_2023.txt", "r")
price = f.readlines()
len(price)
price2 = []
date = []
for i in price:
    if i[:5] == "2023-":
        cur_price = i[40:]
        if cur_price[-1] == "\n":
            cur_price = cur_price[:-1]
        date.append(i[:19])
        price2.append(cur_price)
df = pd.DataFrame({'date': date,'price': price2})
df.to_csv("../data/apple_2023/price_apple_2023.csv")

In [16]:
df_price = pd.read_csv("../data/apple_2023/price_apple_2023.csv", index_col=0)
df_price

                      date       price
0      2023-01-03 09:31:00  129.058631
1      2023-01-03 09:32:00  128.929353
2      2023-01-03 09:33:00  128.740410
3      2023-01-03 09:34:00  129.307241
4      2023-01-03 09:35:00  129.108353
...                    ...         ...
89729  2023-12-01 15:56:00  191.180000
89730  2023-12-01 15:57:00  191.155000
89731  2023-12-01 15:58:00  191.335000
89732  2023-12-01 15:59:00  191.190000
89733  2023-12-01 16:00:00  191.240000

[89734 rows x 2 columns]

In [17]:
df_news = pd.read_csv("../data/apple_2023/news_apple_2023.csv", index_col=0)
df_news

                      date                                               news
0      2023-01-01 00:19:34  Title: iPhone 15 release date speculation: Her...
1      2023-01-01 01:25:56  Title: Apple (NASDAQ:AAPL) PT Set at $184.00 b...
2      2023-01-01 01:32:30  Title: 2023 Dividend Growth Portfolio Review A...
3      2023-01-01 02:52:26  Title: Tracking Terry Smith's Fundsmith 13F Po...
4      2023-01-01 03:10:16  Title: 5 appliances and smart home gadgets tha...
...                    ...                                                ...
33147  2023-12-01 23:33:29  Title: Garcia vs Duarte live stream: How to wa...
33148  2023-12-01 23:33:31  Title: iPhone 16 Pro could be getting the 15 P...
33149  2023-12-01 23:33:37  Title: Act fast! The MacBook Air M2 is on sale...
33150  2023-12-01 23:33:54  Title: Samsung Galaxy S24 Ultra leak just reve...
33151  2023-12-01 23:59:30  Title: Elon Musk's Standoff With Apple, Disney...

[33152 rows x 2 columns]